<html>
    <body>
        <p> Welcome to the home page.<br/> The below links are the API with differen functionality</p>


        <p> <a href='http://localhost:3000/api1'>Token can be obtained here by using the username and password as input(should be copied)</a></p>

        <p> <a href='http://localhost:3000/api2'>The copied token from the previous link can be validated here</a></p>
        
        <p> <a href='http://localhost:3000/api3'>API to get a number as input and giving 10 of it's multiples</a></p>

        <p> <ul>
          <li> Applications below require token validation.</li> 
           <li>Enter username and password and the token will be generated and automatically verified.</li> 
           <li>If the token is correct you will automatically be redirected to the corresponding application.</li> 
           <li>If a token mismatch happens , the verification of app can only be done by starting again from this homepage(this is done to keep the verification route secure).</li> 
                         
        </p></ul>

        <p> <a href='http://localhost:3000/api?apn=4'>API to get a sentence as input and output an object of alphabetic occurences in it</a></p>

        <p> <a href='http://localhost:3000/api?apn=5'>API to find if the given number is Amstrong or not</a></p>

        


    </body>
</html>